.faqC .inner{
  width: 80%;
  margin: auto;
}
.accordion-item{
  background-color: #1B1B1B;
  margin: 15px 0;
}
.accordion-item button, .accordion-item button:not(.collapsed){
  background: #1B1B1B;
  border-radius: 0px 0px 12px 12px;
  color: rgba(255, 199, 0, 1);
  font-size: 1.25rem;
  font-weight: 600
}
.accordion-body{
  background-color: #1B1B1B;
  font-family: Poppins;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.accordion-button::after,.accordion-button:not(.collapsed)::after{
  background-image: url('/images/accordion.svg');
}