.footerC{
  padding-top: 150px;
  padding-bottom: 15px;
}
.subscribe .inner{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px
}
.subscribe input{
  border: none;
  outline: none;
  border: 1px solid lightgray;
  width: 308px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 0 20px
}

.subscribe button{
  border: none; 
  outline: none;
  background: #F7CF3E;
  border-radius: 50px;
  padding: 16px 26px;
  position: relative;
  left: -50px;
  border:1px solid white;
}

.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px
}
.footer-bottom p{
  margin: 0;
  padding: 0
}
.footer-bottom svg{
  font-size: 2rem;
  margin-right: 10px
}
.footer-bottom svg:nth-child(3){
  font-size: 2.3rem;
}

.input-group{
  max-width: 394px;
  position: relative;
  left: -11px
}
.input-group-text{
  border-radius: 50px;
  position: absolute;
  right: -25px;
  height: 100%;
  background-color:#F7CF3E;
  color: white;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 100;
}
.subscribe{
  display: flex;
  justify-content: flex-end;

}

@media only screen and (max-width: 991px){
  .subscribe .inner{
    flex-direction: column;
    padding: 20px
  }
  .subscribe input{
    width: 90%;
  }
  .subscribe button{
    position: static;
    width: 170px;
    margin-top: 15px
  }
  .footerC{
    padding-top: 70px;
  }
  .footerIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  .footerIcon svg{
    font-size: 35px;
    margin-right: 5px
  }
  .footer-bottom{
    justify-content: center;
  }
  .footer-bottom img{
    width: 70px;
    height: 70px;
    margin-right: 20px
  }
  .subscribe{
    justify-content: center;
    padding: 0 30px
  }
  .subscribe input{
    font-size: 14px
  }
}