
.journeyC h2{
  margin-bottom: 2.6rem
}
.journeyImgContainer{
  position: relative;
  margin-bottom: 5.87rem;
}
.journeyImgContainer .main{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 20px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.journeyImgContainer .top{
  position: absolute;
  left: 5%;
  top: -5%;
  z-index: -100;
}
.journeyImgContainer .bottom{
  position: absolute;
  right: 5%;
  bottom: -5%;
  z-index: -100;
}

.journeyC .secondPart{
  text-align: center;
  width: 80%; 
  margin: auto;
  /* box-shadow: 0 15px 20px rgba(51, 51, 51, 0.753); */
  margin-bottom: 100px;
}
.journeyC .secondPart div{
  padding: 25px 15px;
}
.journeyC .secondPart div:nth-child(even){
  background: rgba(31, 31, 31, 1);
}
.journeyC .secondPart div:nth-child(odd){
  background: rgba(39, 39, 39, 1);
}
.journeyC p{
  margin-top: 12px;
  padding: 0 10px;
}

@media only screen and (max-width: 991px){
  .journeyImgContainer .main{
    width: 90%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  }
  .journeyImgContainer .top {
    width: 50px;
    left: 0;
    top: -27px;
    z-index: -100;
  }
  .journeyImgContainer .bottom {
    right: 0;
    bottom: -15%;
    width: 50px;
    z-index: -1;
  }
  .journeyC .secondPart{
    box-shadow: none;
    width: 90%;
    margin-bottom: 48px;
  }
  .journeyC h2 {
    /* margin-bottom: 2.6rem; */
    position: relative;
    top: -60px;
    width: 71%;
    margin: auto;
}
}