.icon-bg{
  background-color: rgba(255, 255, 255, 0.15);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 50%;

}

.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  width: 4.37rem;
  height: auto;
}
.nav-icon svg{
  font-size: 1.5rem;
}


.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #FFC700
}
.navbar-light .navbar-toggler-icon{
  background-image: url('/images/nav.svg');
}




@media only screen and (max-width: 991px){
  .mynavbarC .container{
    padding-right: 0;
    padding-left: 0;
  }
  .nav-logo{
    width: 3.43rem;
  }
  .navbar-nav{
    padding-top: 21px
  }
  .headerBgContainer img {
    margin-top: 140%;
  }
}
