.teamC .sectionA{
  text-align: center;
  width: 70%;
  margin: auto;
  padding-bottom: 66px
}
.teamC .sectionA h2{
  margin-top: 83px;
  margin-bottom: 31px

}
.teamC .sectionB{
  width: 90%;
  margin: auto;
}
.teamC .sectionB div{
  background: #1F1F1F;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin: 10px
}
.teamC .sectionB img{
  width: 100%;
}

.sectionB .cardContent{
  display: flex;
  justify-content: space-between;
}