.teamC .sectionA{
  text-align: center;
  max-width: 863px;
  width: 70%;
  margin: auto;
  padding-bottom: 66px
}
.teamC .sectionA h2{
  margin-top: 83px;
  margin-bottom: 31px

}


 /* card  */
.cardContainer{
  width: 80%;
  margin: auto;
  row-gap: 20px;
  
}
 .card-inner{
   display: flex;
   justify-content: center;
   /* background-color: red;
   padding: 30px */
 }

.mycard{
  background-color: rgba(31, 31, 31, 1);
  max-width: 248px;
  padding: 30px;
  border-radius: 10px;
}
.mycard .imgCont img{
  width: 100%;
  margin-bottom: 20px
  
}

.content-part{
  display: flex;
  justify-content: space-between;
}
.content-part p{
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.content-part .tweetCont{
  flex-shrink: 1;
}